:root {
  --main-color: #5ea3d0;
  --secondary-color: white;
  --main-text-color: #3e5869;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #AAA;
}

.content {
  display:flex;
  flex-flow: column;
  height: 100vh;
}

.app {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  overflow-x: hidden;
  background-color: var(--send-message-form);
}

.title-cont {
  display:flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: black;
  color: white;
}

.title {
  font-size: 30px;
  flex: 1;
  width: 100%;
  padding-left: 5%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.gc-name {
  font-size: 26px;
}

.gc-members {
  font-size: 12px;
  color: #CCC;
}

.menu-link {
  font-size: 20px;
  height: 100%;
  padding: 22px 10px;
  color: white;
}
.menu-link:hover {
  background-color: white;
  color: black;
}
.title-cont a {
  text-decoration: none;
}

.title-cont a:link {
  color: white;
}
.title-cont a:visited {
  color: white;
}
.title-cont a:hover {
  color: white;
}
.title-cont a:active {
  color: white;
}


.message-list {
  box-sizing: border-box;
  padding: 0 0 0 6px;
  margin: 0;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: white;
}

.message {
  display: flex;
  flex-direction: column;
  width: 100vw;
  border-width: 1px;
  border-top-style: solid;
  padding: 5px;
}

.message div:nth-child(1) {
  font-size: 10pt;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-left: 25px;
}

.message div:nth-child(2) {
  background: var(--secondary-color);
  color: var(--main-color);
  display: inline;
  font-size: 14pt;
  margin-bottom: 6px;
  margin-left: 25px;
}

.mymessage {
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-top-style: solid;
  padding: 5px;
}

.mymessage div:nth-child(1) {
  font-size: 10pt;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-right: 25px;
  text-align: right;
}

.mymessage div:nth-child(2) {
  color: var(--main-color);
  display: inline;
  font-size: 14pt;
  margin-bottom: 6px;
  margin-right: 25px;
  text-align: right;
}


.send-message-form {
  width: 100vw;
  background: var(--send-message-form);
  box-sizing: border-box;
  height: 60px;
  border-top: solid #444 2px;
}

.send-message-form input {
  padding: 14px 10px;
  border: none;
  margin: 0;
  width: 100%;
  background: var(--send-message-form);
  font-weight: 200;
  font-size: 14pt;
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: black;
}
